In [1]:
#print all the numbers from 0 to 6 except 3 and 6
for x in range(6):
                  if(x==3 or x==6):
                          continue
                  print(x,end=' ')
print("\n")

0 1 2 4 5

In [7]:
#length of a string
str1="hello world"
length=len(str1)
print(length)

11

In [4]:
#using count variable count the characters
str1="hello world"
counter=0
for c in str1:
      counter+=1
print(counter)

11

In [5]:
#uppercase and lowe case
user=input("enter the string")
print("string in uppercase is",user.upper())
print("string in lowercase is",user.lower())

enter the stringcricket
string in uppercase is CRICKET
string in lowercase is cricket

In [10]:
#print a string from two given string
def char(a,b):
               new_a= b[:2] + a[2:]
               new_b= a[:2] + b[2:]
               return new_a + ' ' + new_b
print(char('abc', 'xyz'))

xyc abz

In [12]:
#stars
num=int(input("enter the rows"))
for i in range(1,num+1):
                         for j in range(1,i+1):
                                                print("*",end=" ")
                         print()

enter the rows10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *